/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/

table {
    display: block;
    max-width: min-content;

    white-space: nowrap;

    border-collapse: collapse;
    border-spacing: 0;
}

 /*change these gradients from white to your background colour if it differs*/
 /*gradient on the first cells to hide the left shadow*/
table td:first-child {
   background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
   background-repeat: no-repeat;
   background-size: 20px 100%;
}

th {
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    background: #f2f0e6;
}

th, td {
    padding: 6px 12px;
    border: 1px solid #d9d7ce;
}
/*!
// CodePen house keeping
*/

body {
    margin: 0;
    padding: 25px;
    color: #494b4d;
    font-size: 14px;
    line-height: 20px;
}

table {
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 30px;
}